<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicTalk</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

<nav class="navbar sticky-top navbar-dark bg-dark mb-1">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="/">PicTalk</a>
    </div>
</nav>
